###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/src/Migrations/
/public/uploads/img/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/.idea
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###