{% extends "base.html.twig" %}

{% block body %}
    {% for trick in tricks %}
        <p>
            <a href="{{ path('trick_view', {'slug': trick.slug}) }}">
                {{ trick.name }}
            </a>
        </p>
    {% endfor %}
    <p><a href="{{ path('trick_create') }}" class="btn btn-primary">Ajouter</a></p>
    <p><a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-danger">Supprimer la catégorie</a></p>
{% endblock %}
